@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 64px); /* ลบความสูงของ navbar */
}
